.container {
    background-color: var(--beige);
    min-height: 100vh;
}

.searchContainer {
    background-color: var(--navy);
    height: 60vh;
    min-height: 300px;
    padding: 16px;
    width: 100%;
}

.searchBarContainer {
    margin-top: 152px;
    max-width: 500px;
}

.question {
    color: var(--beige);
    display: block;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: left;
}

.emTxt {
    color: var(--orange);
}

.searchBar {
    position: relative;
}

.searchBar > input {
    padding: 16px;
    padding-left: 42px;
}

.searchIcon {
    color: #616161;
    font-size: 22px;
    left: 12px;
    opacity: 0.8;
    position: absolute;
    top: 9px;
}

.info {
    margin: auto;
    max-width: 1200px;
}

.graphicCard {
    margin-top: 48px;
}

.graphic {
    height: 160px;
    width: 160px;
    margin-right: 24px;
}

.graphicTitle {
    color: var(--navy);
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
}

.graphicTitle::after {
    color: var(--periwinkle);
    content: '.';
    font-size: 32px;
    font-weight: 800;
    padding-left: 1px;
}

.graphicDescription {
    color: var(--dark-gray);
    margin-left: 16px;
}


.period {
    color: var(--periwinkle);
}

/* Small devices (landscape phones) */
@media (max-width: 677px) {
    .searchBarContainer {
        margin-top: 120px;
    }

    .question {
        font-size: 28px;
    }
}

/* Small devices (portrait phones) */
@media (max-width: 450px) {
    .searchContainer {
        height: 30vh;
    }
}