pre {
    background-color: #d4d4d4;
    border-radius: 4px;
    padding: 24px;
}

.container {
    background-color: var(--beige);
    border-radius: 8px;
    margin: 24px 0 48px 0;
    opacity: 0.9;
    padding: 24px;
}

.question {
    border-left: 6px solid var(--periwinkle);
    color: var(--periwinkle);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-left: 8px;
}

.toggleArrowsContainer {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.toggleArrow {
    background-color: var(--periwinkle);
    border: none;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 700;
    margin: 0 4px;
    padding: 4px 12px;
}

.toggleArrow:hover {
    background-color: var(--periwinkle);
    opacity: 0.9;
}

.disabled {
    background-color: var(--gray);
    opacity: 0.3;
    pointer-events: none;
}

.toggleArrow > svg {
    font-size: 18px;
    margin-left: 6px;
    padding-top: 4px;
}


.label {
    align-items: center;
    color: var(--orange);
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: space-between;
}

.label > div > svg {
    margin-right: 6px;
}

.moreAnswersLabel {
    font-size: 14px;
    font-style: italic;
    text-align: right;
}

.urlBtn {
    background-color: var(--navy);
    border: none;
    text-align: center;
    opacity: 0.8;
}

.urlBtn:hover {
    background-color: var(--navy);
    opacity: 1;
}

.urlBtnContainer {
    text-align: center;
}
